<link rel="manifest" href="/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Sysbit Nigeria Blog">
<meta name="apple-mobile-web-app-title" content="Sysbit Nigeria Blog">
<meta name="theme-color" content="#fff">
<meta name="msapplication-navbutton-color" content="#fff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">

<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon.png">
<link rel="icon" type="image/png" sizes="512x512"  href="/img/icons/android-icon-256x256.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#fff">
<meta name="msapplication-TileImage" content="/img/icons/ms-tile-150x150.png">
<meta name="theme-color" content="#fff">